<%= form_for(@job_post) do |f| %>
  <% if @job_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_post.errors.count, "error") %> prohibited this job_post from being saved:</h2>

      <ul>
      <% @job_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%- end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, value: "Job Posting Title" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :job_category %>
    <span class="form-group">
      <%= f.collection_select :job_category_id, JobCategory.all, :id, :name, {}, class: 'form-control' %>
    </span>
  </div>
  <div class="form-group">
    <%= f.label :summary, value: "Describe the position in brief" %>
    <%= f.text_area :summary, rows: 4, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, value: "Describe the position in detail" %>
    <%= f.text_area :description, rows: 8, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :compensation, "Describe the compensation offered:" %>
    <%= f.text_area :compensation, rows: 4,  class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :apply, "How would a person apply for this awesome job?" %>
    <%= f.text_area :apply,  rows: 4, class: 'form-control' %>
  </div>

  <div class="actions">
    <div class="pull-right">
    <%= f.submit class: 'btn btn-primary btn-lg' %> or go
    <%= link_to 'Back', job_posts_path %>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>
